.entire-header {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.titleHeader {
    color: white;
    font-family: 'PRESS START 2P';
    font-size: 32px;
    text-decoration: none;
}

.XpMoneyBox {
    display: flex;
    width: 30%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.ButtonLoginRegisterBox {
    display: flex;
    width: 30%;
    height: 100%;
    justify-content: center;
    align-items: center;
}