/* .header_content {
    display: flex;
    flex-direction: row;
    height: 10vh;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    background-color: #83640E;
} */

.header_title {
    margin: 0 20px;
    font-size: 20px;
}

.header_score {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 12%;
    margin-right: 45%;
    border-radius: 10px;
    background-color: #E7EFF6;
}

.header_buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 15%;
}

.header_menu {
    margin: 0 30px;
}